<div id="pins">
  <%= render @pins %>
</div> 
<br>
<br>
<% if user_signed_in? %>
	<%= link_to  new_pin_path, class: 'btn btn-small' do %>
   <i class="icon-upload"></i>New
	<% end %>
<% end %>
<%= will_paginate @pins %>
