<div class="hero-unit">
	<h1>Welcome to my effin page</h1>
	<p>
		whatever dude
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	</p>
	<p>
		<%= link_to "Sign up Now!","#",class: "btn btn-primary" %>
	</p>
</div>