<% if user_signed_in? %>
	<div class="hero-unit">
	<h1>"Dreams are an endless source of imagination"</h1>
	<br>
	<p>
		<%= link_to "Me", "http://pixelprospector.com"%>
	</p>
	<% else %>
<div class="hero-unit">
	<h1>"Dreams are an endless source of imagination"</h1>
	<p>
		<%= link_to "Mew", "http://pixelprospector.com"%>
	</p>
	<p>
		<%= link_to "Sign up Now!",new_user_registration_path,class: "btn btn-primary" %>
	</p>
</div>
<% end %>