/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxigen);*/
$btnPrimaryBackground: green;
$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarLinkColorHover: white;
@import 'bootstrap';
body{
	padding-top:60px;
}

@import 'bootstrap-responsive';
.navbar-inner{
	@include box-shadow(none !important);
	border:0;
}

.footer{
	margin-top: 50px;
	color: $grayLight;

}
a{
	color: $blue;
}
a:hover{
	color: $black;
	text-decoration: none;
}
.btn-primary:hover{
	box-shadow: 5px 5px 5px #888888;
}
.well h5{
	padding-top: 0;
	margin-top: 0;
}